# If you add a new User, don't forget to enable it here.
AllowUsers ansible gdp
ChallengeResponseAuthentication no
ListenAddress {{ public_ip }}
ListenAddress {{ public_ip | ansible.utils.ipv4('ipv6') | ansible.utils.ipaddr('address') }}
PasswordAuthentication no
PermitRootLogin no
Protocol 2
Subsystem sftp /usr/lib/openssh/sftp-server UseDNS no